.number {
    margin-left: 10px;
    align-items: center;
    display: inline;
    }

.btn {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    transition-duration: 0.4s
}

.btn:focus
{outline:none }

.btn:hover {
    cursor:pointer;
    background-color: #290035 ;
    color: rgb(255, 255, 255)
}